# СОЗДАЕМ ФАЙЛ    ===>    .gitignore

# КОМАНДЫ
.gitignore                      # игнорит файл .gitignore
.idea                           # так же можно игнорить любые файлы
main2.py                        # так же можно игнорить любые файлы

# ШАБЛОНЫ
*z*                             # игнорит файл в которых есть буква (z)
z*                              # игнорит все файлы которые начинаются на букву (z)
*.js                            # игнорит все файлы которые заканчиваются на (.js)
